.rocket-icon {
    position: relative;
    width: 1rem;
    height: 22px;
    svg {
        position: absolute;
        margin-top: .5rem;
    }
}

.rocket-icon-inline {
    display: inline-block !important;
}

