/*
 * Public API Surface of rocket-ui-lib
 */


@import './rocket-select.component.scss';
@import './rocket-button.component.scss';
@import './rocket-accordion.component.scss';
@import './rocket-text.component.scss';
@import './rocket-checkbox.component.scss';
@import './rocket-table.component.scss';
@import './rocket-modal.component.scss';
@import './rocket-notification.component.scss';
@import './rocket-tooltip.component.scss';
@import './rocket-radio.component.scss';
@import './rocket-progress-indicator.component.scss';
@import './rocket-accordion-item.component.scss';
@import './rocket-accordion-container.component.scss';
@import './rocket-toggle.component.scss';
@import './rocket-text-area.component.scss';
@import './rocket-search.component.scss';
@import './rocket-icon.component.scss';
@import './rocket-placeholder.component.scss';

.row {
    display: flex;
    flex-direction: row;
}

.marker::after{
    content: "*";
    color: #e0182d;
    margin-left: 4px;
    margin-right: 7px;
    vertical-align: -15%;
}

.relative {
    position:relative;
}