/*
 * Public API Surface of rocket-ui-lib
 */

.row {
    display: flex;
    flex-direction: row;
}

.marker::after{
    content: "*";
    color: #e0182d;
    margin-left: 4px;
    margin-right: 7px;
    vertical-align: -15%;
}

.relative {
    position:relative;
}

.underline{
    text-decoration: underline;
}

.cursor1 {
    cursor: pointer;
}

.multiSpace {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.noEvent {
    pointer-events: none;
}